.snowflakes-container {
  padding: 0;
  width: 0;
  height: 0;
}

.snowflake:nth-child(1) {
  opacity: 0.27542;
  transform: translate(34vw, -10px) scale(0.5);
  animation: fall-1 98s -1s linear infinite;
}

@keyframes fall-1 {
  45.4488% {
    transform: translate(34vw, 45.4488vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(40.0911vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(2) {
  opacity: 0.93287;
  transform: translate(77vw, -10px) scale(0.7);
  animation: fall-2 38s -18s linear infinite;
}

@keyframes fall-2 {
  46.4706% {
    transform: translate(77vw, 46.4706vh) scale(0.7) rotate(180deg);
  }
  to {
    transform: translate(72.9591vw, 100vh) scale(0.7) rotate(360deg);
  }
}
.snowflake:nth-child(3) {
  opacity: 0.30615;
  transform: translate(96vw, -10px) scale(0.5);
  animation: fall-3 82s -100s linear infinite;
}

@keyframes fall-3 {
  47.5758% {
    transform: translate(96vw, 47.5758vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(86.9755vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(4) {
  opacity: 0.65685;
  transform: translate(64vw, -10px) scale(0.3);
  animation: fall-4 50s -96s linear infinite;
}

@keyframes fall-4 {
  11.0922% {
    transform: translate(64vw, 11.0922vh) scale(0.3) rotate(180deg);
  }
  to {
    transform: translate(69.6306vw, 100vh) scale(0.3) rotate(360deg);
  }
}
.snowflake:nth-child(5) {
  opacity: 0.847;
  transform: translate(22vw, -10px) scale(0.5);
  animation: fall-5 100s -3s linear infinite;
}

@keyframes fall-5 {
  1.4934% {
    transform: translate(22vw, 1.4934vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(26.5851vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(6) {
  opacity: 0.58578;
  transform: translate(94vw, -10px) scale(0.8);
  animation: fall-6 83s -82s linear infinite;
}

@keyframes fall-6 {
  0.2196% {
    transform: translate(94vw, 0.2196vh) scale(0.8) rotate(180deg);
  }
  to {
    transform: translate(84.3873vw, 100vh) scale(0.8) rotate(360deg);
  }
}
.snowflake:nth-child(7) {
  opacity: 0.18075;
  transform: translate(8vw, -10px) scale(0.5);
  animation: fall-7 83s -13s linear infinite;
}

@keyframes fall-7 {
  12.8052% {
    transform: translate(8vw, 12.8052vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(16.115vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(8) {
  opacity: 0.61706;
  transform: translate(72vw, -10px) scale(0.3);
  animation: fall-8 92s -56s linear infinite;
}

@keyframes fall-8 {
  4.194% {
    transform: translate(72vw, 4.194vh) scale(0.3) rotate(180deg);
  }
  to {
    transform: translate(70.8293vw, 100vh) scale(0.3) rotate(360deg);
  }
}
.snowflake:nth-child(9) {
  opacity: 0.44565;
  transform: translate(54vw, -10px) scale(0.5);
  animation: fall-9 78s -2s linear infinite;
}

@keyframes fall-9 {
  24.2598% {
    transform: translate(54vw, 24.2598vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(54.9535vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(10) {
  opacity: 0.49953;
  transform: translate(2vw, -10px) scale(0.1);
  animation: fall-10 92s -32s linear infinite;
}

@keyframes fall-10 {
  50.3622% {
    transform: translate(2vw, 50.3622vh) scale(0.1) rotate(180deg);
  }
  to {
    transform: translate(7.6936vw, 100vh) scale(0.1) rotate(360deg);
  }
}
.snowflake:nth-child(11) {
  opacity: 0.92257;
  transform: translate(97vw, -10px) scale(1);
  animation: fall-11 77s -47s linear infinite;
}

@keyframes fall-11 {
  15.333% {
    transform: translate(97vw, 15.333vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(94.6554vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(12) {
  opacity: 0.84633;
  transform: translate(67vw, -10px) scale(0.4);
  animation: fall-12 55s -61s linear infinite;
}

@keyframes fall-12 {
  41.1258% {
    transform: translate(67vw, 41.1258vh) scale(0.4) rotate(180deg);
  }
  to {
    transform: translate(59.5639vw, 100vh) scale(0.4) rotate(360deg);
  }
}
.snowflake:nth-child(13) {
  opacity: 0.79101;
  transform: translate(20vw, -10px) scale(0.5);
  animation: fall-13 98s -22s linear infinite;
}

@keyframes fall-13 {
  18.4146% {
    transform: translate(20vw, 18.4146vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(22.8788vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(14) {
  opacity: 0.67423;
  transform: translate(45vw, -10px) scale(0.7);
  animation: fall-14 54s -25s linear infinite;
}

@keyframes fall-14 {
  57.7782% {
    transform: translate(45vw, 57.7782vh) scale(0.7) rotate(180deg);
  }
  to {
    transform: translate(46.4302vw, 100vh) scale(0.7) rotate(360deg);
  }
}
.snowflake:nth-child(15) {
  opacity: 0.89356;
  transform: translate(47vw, -10px) scale(1);
  animation: fall-15 69s -72s linear infinite;
}

@keyframes fall-15 {
  31.518% {
    transform: translate(47vw, 31.518vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(40.8465vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(16) {
  opacity: 0.11643;
  transform: translate(4vw, -10px) scale(1);
  animation: fall-16 78s -29s linear infinite;
}

@keyframes fall-16 {
  36.6282% {
    transform: translate(4vw, 36.6282vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(4.1127vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(17) {
  opacity: 0.91717;
  transform: translate(52vw, -10px) scale(0.5);
  animation: fall-17 86s -50s linear infinite;
}

@keyframes fall-17 {
  31.887% {
    transform: translate(52vw, 31.887vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(49.2638vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(18) {
  opacity: 0.94339;
  transform: translate(88vw, -10px) scale(0.4);
  animation: fall-18 72s -85s linear infinite;
}

@keyframes fall-18 {
  49.344% {
    transform: translate(88vw, 49.344vh) scale(0.4) rotate(180deg);
  }
  to {
    transform: translate(84.5125vw, 100vh) scale(0.4) rotate(360deg);
  }
}
.snowflake:nth-child(19) {
  opacity: 0.70739;
  transform: translate(53vw, -10px) scale(0.5);
  animation: fall-19 70s -38s linear infinite;
}

@keyframes fall-19 {
  35.4942% {
    transform: translate(53vw, 35.4942vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(49.8136vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(20) {
  opacity: 0.68869;
  transform: translate(80vw, -10px) scale(0.6);
  animation: fall-20 62s -50s linear infinite;
}

@keyframes fall-20 {
  23.871% {
    transform: translate(80vw, 23.871vh) scale(0.6) rotate(180deg);
  }
  to {
    transform: translate(73.8755vw, 100vh) scale(0.6) rotate(360deg);
  }
}
.snowflake:nth-child(21) {
  opacity: 0.07649;
  transform: translate(48vw, -10px) scale(1);
  animation: fall-21 69s -10s linear infinite;
}

@keyframes fall-21 {
  38.1924% {
    transform: translate(48vw, 38.1924vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(42.1637vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(22) {
  opacity: 0.74068;
  transform: translate(91vw, -10px) scale(0.9);
  animation: fall-22 94s -41s linear infinite;
}

@keyframes fall-22 {
  18.9282% {
    transform: translate(91vw, 18.9282vh) scale(0.9) rotate(180deg);
  }
  to {
    transform: translate(82.6186vw, 100vh) scale(0.9) rotate(360deg);
  }
}
.snowflake:nth-child(23) {
  opacity: 0.36717;
  transform: translate(35vw, -10px) scale(0.5);
  animation: fall-23 84s -91s linear infinite;
}

@keyframes fall-23 {
  50.8452% {
    transform: translate(35vw, 50.8452vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(33.1088vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(24) {
  opacity: 0.94419;
  transform: translate(49vw, -10px) scale(0.5);
  animation: fall-24 95s -21s linear infinite;
}

@keyframes fall-24 {
  47.6274% {
    transform: translate(49vw, 47.6274vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(40.4643vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(25) {
  opacity: 0.09169;
  transform: translate(92vw, -10px) scale(0.5);
  animation: fall-25 48s -95s linear infinite;
}

@keyframes fall-25 {
  39.9204% {
    transform: translate(92vw, 39.9204vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(95.2044vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(26) {
  opacity: 0.62607;
  transform: translate(55vw, -10px) scale(0.6);
  animation: fall-26 55s -88s linear infinite;
}

@keyframes fall-26 {
  54.4698% {
    transform: translate(55vw, 54.4698vh) scale(0.6) rotate(180deg);
  }
  to {
    transform: translate(63.0524vw, 100vh) scale(0.6) rotate(360deg);
  }
}
.snowflake:nth-child(27) {
  opacity: 0.28877;
  transform: translate(81vw, -10px) scale(1);
  animation: fall-27 84s -3s linear infinite;
}

@keyframes fall-27 {
  55.9908% {
    transform: translate(81vw, 55.9908vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(72.2012vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(28) {
  opacity: 0.20842;
  transform: translate(37vw, -10px) scale(1);
  animation: fall-28 64s -89s linear infinite;
}

@keyframes fall-28 {
  11.0706% {
    transform: translate(37vw, 11.0706vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(30.8393vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(29) {
  opacity: 0.0189;
  transform: translate(27vw, -10px) scale(0.5);
  animation: fall-29 79s -30s linear infinite;
}

@keyframes fall-29 {
  19.6674% {
    transform: translate(27vw, 19.6674vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(36.2864vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(30) {
  opacity: 0.60152;
  transform: translate(61vw, -10px) scale(0.8);
  animation: fall-30 73s -57s linear infinite;
}

@keyframes fall-30 {
  37.8426% {
    transform: translate(61vw, 37.8426vh) scale(0.8) rotate(180deg);
  }
  to {
    transform: translate(59.2771vw, 100vh) scale(0.8) rotate(360deg);
  }
}
.snowflake:nth-child(31) {
  opacity: 0.6385;
  transform: translate(23vw, -10px) scale(0.5);
  animation: fall-31 60s -50s linear infinite;
}

@keyframes fall-31 {
  47.5656% {
    transform: translate(23vw, 47.5656vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(32.9914vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(32) {
  opacity: 0.65794;
  transform: translate(17vw, -10px) scale(0.5);
  animation: fall-32 94s -86s linear infinite;
}

@keyframes fall-32 {
  21.0192% {
    transform: translate(17vw, 21.0192vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(10.4847vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(33) {
  opacity: 0.29192;
  transform: translate(27vw, -10px) scale(0.5);
  animation: fall-33 99s -51s linear infinite;
}

@keyframes fall-33 {
  38.4702% {
    transform: translate(27vw, 38.4702vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(31.8437vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(34) {
  opacity: 0.14415;
  transform: translate(42vw, -10px) scale(0.1);
  animation: fall-34 70s -15s linear infinite;
}

@keyframes fall-34 {
  46.6266% {
    transform: translate(42vw, 46.6266vh) scale(0.1) rotate(180deg);
  }
  to {
    transform: translate(44.3294vw, 100vh) scale(0.1) rotate(360deg);
  }
}
.snowflake:nth-child(35) {
  opacity: 0.79903;
  transform: translate(78vw, -10px) scale(1);
  animation: fall-35 39s -50s linear infinite;
}

@keyframes fall-35 {
  18.5874% {
    transform: translate(78vw, 18.5874vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(78.0815vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(36) {
  opacity: 0.41974;
  transform: translate(77vw, -10px) scale(1);
  animation: fall-36 82s -22s linear infinite;
}

@keyframes fall-36 {
  4.9674% {
    transform: translate(77vw, 4.9674vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(81.27vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(37) {
  opacity: 0.60904;
  transform: translate(52vw, -10px) scale(0.5);
  animation: fall-37 54s -79s linear infinite;
}

@keyframes fall-37 {
  40.3602% {
    transform: translate(52vw, 40.3602vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(52.2962vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(38) {
  opacity: 0.04803;
  transform: translate(96vw, -10px) scale(0.5);
  animation: fall-38 46s -14s linear infinite;
}

@keyframes fall-38 {
  36.5544% {
    transform: translate(96vw, 36.5544vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(94.2062vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(39) {
  opacity: 0.65896;
  transform: translate(16vw, -10px) scale(1);
  animation: fall-39 70s -16s linear infinite;
}

@keyframes fall-39 {
  39.8412% {
    transform: translate(16vw, 39.8412vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(18.8279vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(40) {
  opacity: 0.37578;
  transform: translate(95vw, -10px) scale(0.2);
  animation: fall-40 97s -14s linear infinite;
}

@keyframes fall-40 {
  36.699% {
    transform: translate(95vw, 36.699vh) scale(0.2) rotate(180deg);
  }
  to {
    transform: translate(93.3025vw, 100vh) scale(0.2) rotate(360deg);
  }
}
.snowflake:nth-child(41) {
  opacity: 0.51133;
  transform: translate(34vw, -10px) scale(1);
  animation: fall-41 63s -43s linear infinite;
}

@keyframes fall-41 {
  34.5066% {
    transform: translate(34vw, 34.5066vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(31.3262vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(42) {
  opacity: 0.19615;
  transform: translate(44vw, -10px) scale(0.3);
  animation: fall-42 37s -71s linear infinite;
}

@keyframes fall-42 {
  44.6874% {
    transform: translate(44vw, 44.6874vh) scale(0.3) rotate(180deg);
  }
  to {
    transform: translate(47.1069vw, 100vh) scale(0.3) rotate(360deg);
  }
}
.snowflake:nth-child(43) {
  opacity: 0.84808;
  transform: translate(88vw, -10px) scale(1);
  animation: fall-43 91s -16s linear infinite;
}

@keyframes fall-43 {
  23.4474% {
    transform: translate(88vw, 23.4474vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(79.2004vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(44) {
  opacity: 0.34304;
  transform: translate(33vw, -10px) scale(0.9);
  animation: fall-44 86s -78s linear infinite;
}

@keyframes fall-44 {
  18.9852% {
    transform: translate(33vw, 18.9852vh) scale(0.9) rotate(180deg);
  }
  to {
    transform: translate(32.8043vw, 100vh) scale(0.9) rotate(360deg);
  }
}
.snowflake:nth-child(45) {
  opacity: 0.87311;
  transform: translate(87vw, -10px) scale(1);
  animation: fall-45 32s -100s linear infinite;
}

@keyframes fall-45 {
  23.3838% {
    transform: translate(87vw, 23.3838vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(77.0437vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(46) {
  opacity: 0.25149;
  transform: translate(63vw, -10px) scale(1);
  animation: fall-46 33s -64s linear infinite;
}

@keyframes fall-46 {
  12.5442% {
    transform: translate(63vw, 12.5442vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(54.7514vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(47) {
  opacity: 0.96482;
  transform: translate(60vw, -10px) scale(0.5);
  animation: fall-47 51s -86s linear infinite;
}

@keyframes fall-47 {
  55.2324% {
    transform: translate(60vw, 55.2324vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(64.6202vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(48) {
  opacity: 0.49088;
  transform: translate(25vw, -10px) scale(1);
  animation: fall-48 98s -94s linear infinite;
}

@keyframes fall-48 {
  13.9068% {
    transform: translate(25vw, 13.9068vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(23.5898vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(49) {
  opacity: 0.03184;
  transform: translate(38vw, -10px) scale(0.5);
  animation: fall-49 34s -27s linear infinite;
}

@keyframes fall-49 {
  38.1684% {
    transform: translate(38vw, 38.1684vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(44.4294vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(50) {
  opacity: 0.26111;
  transform: translate(24vw, -10px) scale(0.1);
  animation: fall-50 47s -80s linear infinite;
}

@keyframes fall-50 {
  47.4306% {
    transform: translate(24vw, 47.4306vh) scale(0.1) rotate(180deg);
  }
  to {
    transform: translate(31.3012vw, 100vh) scale(0.1) rotate(360deg);
  }
}
.snowflake:nth-child(51) {
  opacity: 0.75184;
  transform: translate(9vw, -10px) scale(1);
  animation: fall-51 100s -12s linear infinite;
}

@keyframes fall-51 {
  41.4492% {
    transform: translate(9vw, 41.4492vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(12.8151vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(52) {
  opacity: 0.78639;
  transform: translate(7vw, -10px) scale(0.9);
  animation: fall-52 94s -64s linear infinite;
}

@keyframes fall-52 {
  9.1092% {
    transform: translate(7vw, 9.1092vh) scale(0.9) rotate(180deg);
  }
  to {
    transform: translate(10.3069vw, 100vh) scale(0.9) rotate(360deg);
  }
}
.snowflake:nth-child(53) {
  opacity: 0.81929;
  transform: translate(81vw, -10px) scale(1);
  animation: fall-53 81s -38s linear infinite;
}

@keyframes fall-53 {
  5.5038% {
    transform: translate(81vw, 5.5038vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(87.7524vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(54) {
  opacity: 0.35993;
  transform: translate(47vw, -10px) scale(0.6);
  animation: fall-54 91s -2s linear infinite;
}

@keyframes fall-54 {
  0.6642% {
    transform: translate(47vw, 0.6642vh) scale(0.6) rotate(180deg);
  }
  to {
    transform: translate(39.5848vw, 100vh) scale(0.6) rotate(360deg);
  }
}
.snowflake:nth-child(55) {
  opacity: 0.87515;
  transform: translate(23vw, -10px) scale(1);
  animation: fall-55 49s -43s linear infinite;
}

@keyframes fall-55 {
  37.1832% {
    transform: translate(23vw, 37.1832vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(13.1427vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(56) {
  opacity: 0.437;
  transform: translate(62vw, -10px) scale(1);
  animation: fall-56 88s -53s linear infinite;
}

@keyframes fall-56 {
  36.5328% {
    transform: translate(62vw, 36.5328vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(57.1543vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(57) {
  opacity: 0.93436;
  transform: translate(46vw, -10px) scale(1);
  animation: fall-57 89s -67s linear infinite;
}

@keyframes fall-57 {
  41.502% {
    transform: translate(46vw, 41.502vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(36.4743vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(58) {
  opacity: 0.35139;
  transform: translate(91vw, -10px) scale(0.1);
  animation: fall-58 99s -14s linear infinite;
}

@keyframes fall-58 {
  21.0954% {
    transform: translate(91vw, 21.0954vh) scale(0.1) rotate(180deg);
  }
  to {
    transform: translate(97.8706vw, 100vh) scale(0.1) rotate(360deg);
  }
}
.snowflake:nth-child(59) {
  opacity: 0.91027;
  transform: translate(57vw, -10px) scale(0.5);
  animation: fall-59 71s -16s linear infinite;
}

@keyframes fall-59 {
  29.427% {
    transform: translate(57vw, 29.427vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(60.7334vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(60) {
  opacity: 0.63007;
  transform: translate(47vw, -10px) scale(0.8);
  animation: fall-60 90s -86s linear infinite;
}

@keyframes fall-60 {
  58.9428% {
    transform: translate(47vw, 58.9428vh) scale(0.8) rotate(180deg);
  }
  to {
    transform: translate(42.0481vw, 100vh) scale(0.8) rotate(360deg);
  }
}
.snowflake:nth-child(61) {
  opacity: 0.90853;
  transform: translate(76vw, -10px) scale(0.5);
  animation: fall-61 38s -21s linear infinite;
}

@keyframes fall-61 {
  2.9616% {
    transform: translate(76vw, 2.9616vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(78.6105vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(62) {
  opacity: 0.30722;
  transform: translate(52vw, -10px) scale(0.7);
  animation: fall-62 88s -94s linear infinite;
}

@keyframes fall-62 {
  0.6474% {
    transform: translate(52vw, 0.6474vh) scale(0.7) rotate(180deg);
  }
  to {
    transform: translate(59.1787vw, 100vh) scale(0.7) rotate(360deg);
  }
}
.snowflake:nth-child(63) {
  opacity: 0.90586;
  transform: translate(91vw, -10px) scale(0.5);
  animation: fall-63 50s -82s linear infinite;
}

@keyframes fall-63 {
  23.862% {
    transform: translate(91vw, 23.862vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(87.2549vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(64) {
  opacity: 0.55593;
  transform: translate(49vw, -10px) scale(0.2);
  animation: fall-64 58s -56s linear infinite;
}

@keyframes fall-64 {
  2.8314% {
    transform: translate(49vw, 2.8314vh) scale(0.2) rotate(180deg);
  }
  to {
    transform: translate(48.4752vw, 100vh) scale(0.2) rotate(360deg);
  }
}
.snowflake:nth-child(65) {
  opacity: 0.70385;
  transform: translate(83vw, -10px) scale(1);
  animation: fall-65 44s -67s linear infinite;
}

@keyframes fall-65 {
  45.7002% {
    transform: translate(83vw, 45.7002vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(79.179vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(66) {
  opacity: 0.40656;
  transform: translate(31vw, -10px) scale(0.9);
  animation: fall-66 38s -94s linear infinite;
}

@keyframes fall-66 {
  53.478% {
    transform: translate(31vw, 53.478vh) scale(0.9) rotate(180deg);
  }
  to {
    transform: translate(37.6443vw, 100vh) scale(0.9) rotate(360deg);
  }
}
.snowflake:nth-child(67) {
  opacity: 0.33137;
  transform: translate(2vw, -10px) scale(0.5);
  animation: fall-67 68s -43s linear infinite;
}

@keyframes fall-67 {
  58.9134% {
    transform: translate(2vw, 58.9134vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(-5.8918vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(68) {
  opacity: 0.04956;
  transform: translate(79vw, -10px) scale(0.9);
  animation: fall-68 70s -51s linear infinite;
}

@keyframes fall-68 {
  21.8106% {
    transform: translate(79vw, 21.8106vh) scale(0.9) rotate(180deg);
  }
  to {
    transform: translate(83.1718vw, 100vh) scale(0.9) rotate(360deg);
  }
}
.snowflake:nth-child(69) {
  opacity: 0.13071;
  transform: translate(58vw, -10px) scale(1);
  animation: fall-69 42s -71s linear infinite;
}

@keyframes fall-69 {
  28.6728% {
    transform: translate(58vw, 28.6728vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(51.6518vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(70) {
  opacity: 0.65584;
  transform: translate(45vw, -10px) scale(0.2);
  animation: fall-70 67s -42s linear infinite;
}

@keyframes fall-70 {
  29.5728% {
    transform: translate(45vw, 29.5728vh) scale(0.2) rotate(180deg);
  }
  to {
    transform: translate(40.3107vw, 100vh) scale(0.2) rotate(360deg);
  }
}
.snowflake:nth-child(71) {
  opacity: 0.91194;
  transform: translate(16vw, -10px) scale(1);
  animation: fall-71 62s -73s linear infinite;
}

@keyframes fall-71 {
  12.309% {
    transform: translate(16vw, 12.309vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(14.1518vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(72) {
  opacity: 0.31266;
  transform: translate(71vw, -10px) scale(0.5);
  animation: fall-72 40s -38s linear infinite;
}

@keyframes fall-72 {
  24.0588% {
    transform: translate(71vw, 24.0588vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(71.0443vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(73) {
  opacity: 0.57829;
  transform: translate(38vw, -10px) scale(1);
  animation: fall-73 51s -84s linear infinite;
}

@keyframes fall-73 {
  49.2936% {
    transform: translate(38vw, 49.2936vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(39.7114vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(74) {
  opacity: 0.53041;
  transform: translate(7vw, -10px) scale(0.9);
  animation: fall-74 52s -62s linear infinite;
}

@keyframes fall-74 {
  6.7242% {
    transform: translate(7vw, 6.7242vh) scale(0.9) rotate(180deg);
  }
  to {
    transform: translate(2.9199vw, 100vh) scale(0.9) rotate(360deg);
  }
}
.snowflake:nth-child(75) {
  opacity: 0.53138;
  transform: translate(66vw, -10px) scale(0.5);
  animation: fall-75 53s -34s linear infinite;
}

@keyframes fall-75 {
  34.9248% {
    transform: translate(66vw, 34.9248vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(75.6743vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(76) {
  opacity: 0.56718;
  transform: translate(52vw, -10px) scale(0.9);
  animation: fall-76 96s -46s linear infinite;
}

@keyframes fall-76 {
  22.7874% {
    transform: translate(52vw, 22.7874vh) scale(0.9) rotate(180deg);
  }
  to {
    transform: translate(48.8698vw, 100vh) scale(0.9) rotate(360deg);
  }
}
.snowflake:nth-child(77) {
  opacity: 0.98092;
  transform: translate(77vw, -10px) scale(1);
  animation: fall-77 38s -78s linear infinite;
}

@keyframes fall-77 {
  46.1046% {
    transform: translate(77vw, 46.1046vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(81.5673vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(78) {
  opacity: 0.77837;
  transform: translate(6vw, -10px) scale(0.1);
  animation: fall-78 66s -80s linear infinite;
}

@keyframes fall-78 {
  53.9058% {
    transform: translate(6vw, 53.9058vh) scale(0.1) rotate(180deg);
  }
  to {
    transform: translate(2.8189vw, 100vh) scale(0.1) rotate(360deg);
  }
}
.snowflake:nth-child(79) {
  opacity: 0.82246;
  transform: translate(39vw, -10px) scale(1);
  animation: fall-79 73s -34s linear infinite;
}

@keyframes fall-79 {
  25.6794% {
    transform: translate(39vw, 25.6794vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(48.4391vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(80) {
  opacity: 0.81068;
  transform: translate(13vw, -10px) scale(1);
  animation: fall-80 55s -3s linear infinite;
}

@keyframes fall-80 {
  16.4808% {
    transform: translate(13vw, 16.4808vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(13.2977vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(81) {
  opacity: 0.57107;
  transform: translate(0vw, -10px) scale(1);
  animation: fall-81 37s -86s linear infinite;
}

@keyframes fall-81 {
  15.6846% {
    transform: translate(0vw, 15.6846vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(2.6482vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(82) {
  opacity: 0.74392;
  transform: translate(56vw, -10px) scale(1);
  animation: fall-82 73s -8s linear infinite;
}

@keyframes fall-82 {
  32.7216% {
    transform: translate(56vw, 32.7216vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(65.0606vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(83) {
  opacity: 0.64355;
  transform: translate(55vw, -10px) scale(1);
  animation: fall-83 73s -3s linear infinite;
}

@keyframes fall-83 {
  35.1798% {
    transform: translate(55vw, 35.1798vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(45.5092vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(84) {
  opacity: 0.00887;
  transform: translate(83vw, -10px) scale(0.1);
  animation: fall-84 55s -41s linear infinite;
}

@keyframes fall-84 {
  51.015% {
    transform: translate(83vw, 51.015vh) scale(0.1) rotate(180deg);
  }
  to {
    transform: translate(79.8741vw, 100vh) scale(0.1) rotate(360deg);
  }
}
.snowflake:nth-child(85) {
  opacity: 0.70383;
  transform: translate(12vw, -10px) scale(1);
  animation: fall-85 100s -43s linear infinite;
}

@keyframes fall-85 {
  23.1456% {
    transform: translate(12vw, 23.1456vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(10.7932vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(86) {
  opacity: 0.4507;
  transform: translate(14vw, -10px) scale(0.5);
  animation: fall-86 75s -79s linear infinite;
}

@keyframes fall-86 {
  26.9502% {
    transform: translate(14vw, 26.9502vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(16.9891vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(87) {
  opacity: 0.27346;
  transform: translate(20vw, -10px) scale(1);
  animation: fall-87 46s -36s linear infinite;
}

@keyframes fall-87 {
  22.2174% {
    transform: translate(20vw, 22.2174vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(10.9485vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(88) {
  opacity: 0.37282;
  transform: translate(77vw, -10px) scale(0.3);
  animation: fall-88 54s -35s linear infinite;
}

@keyframes fall-88 {
  58.1784% {
    transform: translate(77vw, 58.1784vh) scale(0.3) rotate(180deg);
  }
  to {
    transform: translate(72.3555vw, 100vh) scale(0.3) rotate(360deg);
  }
}
.snowflake:nth-child(89) {
  opacity: 0.84433;
  transform: translate(13vw, -10px) scale(1);
  animation: fall-89 34s -5s linear infinite;
}

@keyframes fall-89 {
  43.8642% {
    transform: translate(13vw, 43.8642vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(11.2999vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(90) {
  opacity: 0.81239;
  transform: translate(90vw, -10px) scale(1);
  animation: fall-90 86s -56s linear infinite;
}

@keyframes fall-90 {
  13.953% {
    transform: translate(90vw, 13.953vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(85.0166vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(91) {
  opacity: 0.93076;
  transform: translate(79vw, -10px) scale(1);
  animation: fall-91 82s -45s linear infinite;
}

@keyframes fall-91 {
  45.3144% {
    transform: translate(79vw, 45.3144vh) scale(1) rotate(180deg);
  }
  to {
    transform: translate(73.8706vw, 100vh) scale(1) rotate(360deg);
  }
}
.snowflake:nth-child(92) {
  opacity: 0.18716;
  transform: translate(19vw, -10px) scale(0.9);
  animation: fall-92 45s -5s linear infinite;
}

@keyframes fall-92 {
  33.8244% {
    transform: translate(19vw, 33.8244vh) scale(0.9) rotate(180deg);
  }
  to {
    transform: translate(14.9789vw, 100vh) scale(0.9) rotate(360deg);
  }
}
.snowflake:nth-child(93) {
  opacity: 0.66678;
  transform: translate(26vw, -10px) scale(0.5);
  animation: fall-93 81s -45s linear infinite;
}

@keyframes fall-93 {
  51.483% {
    transform: translate(26vw, 51.483vh) scale(0.5) rotate(180deg);
  }
  to {
    transform: translate(33.1006vw, 100vh) scale(0.5) rotate(360deg);
  }
}
.snowflake:nth-child(94) {
  opacity: 0.09732;
  transform: translate(28vw, -10px) scale(0.4);
  animation: fall-94 71s -42s linear infinite;
}

@keyframes fall-94 {
  58.3266% {
    transform: translate(28vw, 58.3266vh) scale(0.4) rotate(180deg);
  }
  to {
    transform: translate(27.7795vw, 100vh) scale(0.4) rotate(360deg);
  }
}